body {
    font-family: Roobert,Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: black;
    color: white;
}

img {
    width: 20%;
}

section {
    padding: 10px;
}

.container {
    text-align: center;
}

.container h1 {
    padding-top: 20px;
    border-bottom: ;
}